body {
  position: relative;
  font-size: 16px;
  line-height: 37;
  color: var(--text);
  font-family: "Plus Jakarta Sans";
}
[class*="__conteiner"] {
  max-width: 1200px;
  padding: 100px 0px;
  margin: 0 auto;
}
.title {
  font-size: 48px;
  font-weight: 800;
  color: #000;
  padding-bottom: 90px;
}
.subtitle {
  font-size: 18px;
  color: var(--primary);
  margin-bottom: 10px;
}
.span {
  color: var(--primary);
}
