.header {
}
.header__conteiner {
  padding: 60px 0 0 0;

  display: flex;
  align-items: center;

  gap: 140px;
}
.header__logo {
}
.header__menu {
}
.menu {
}
.menu__body {
}
.menu__list {
  display: flex;
  gap: 40px;
  align-items: center;
}
.menu__item {
}
.menu__link {
  color: #9a9ea6;
  transition: all 0.3s ease;
  &:hover {
    color: var(--primary);
  }
}
