.services {
}
.services__conteiner {
}
.services__subtitle {
}
.subtitle {
}
.services__title {
}
.title {
}
.services__block {
  display: flex;
  gap: 125px;
}
.block {
}
.block__foto {
}
.block__content {
}
.block__title {
  font-size: 32px;
  color: #000;
  margin-bottom: 40px;
  max-width: 380px;
}
.block__text {
  margin-bottom: 15px;
  line-height: 1.87;
  max-width: 420px;
}
